*{
    margin: 0px;
    padding: 0px;
}
.mainContentContainer{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.logoLinksContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.logoImage{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.instagramImage{
    filter: brightness(125%);
}
.mainContentTitle{
    width: 100%;
    font-size: 70px;
    font-weight: normal;
    font-family: montserrat-light;
    color: black;
    margin-top: 25px;
    margin-bottom: 25px;
}

.profilePicture{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    margin-top: 10px;
    border-color: rgb(143, 39, 255);
    border-width: 2px;
    border-style: solid;
    object-fit:contain;
    background-color: #b4b2a5;
}

/* FONTS */
@font-face {
    font-family: montserrat-regular;
    src: url(./montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserrat-light;
    src: url(./montserrat/static/Montserrat-Light.ttf);
}
@font-face {
    font-family: montserrat-bold;
    src: url(./montserrat/static/Montserrat-Bold.ttf);
}

/* giftcard box */
.giftCardContainer {
    background-color: rgb(35, 35, 35);
    color: black;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 1200px;
    text-align: center;


}

.giftCardImage {
    width: 630px;
    height: 400px;
    object-fit: cover;
    object-position: 30% 0;
}
.infoBox2Image{
    width: 630px;
    height: 400px;
    object-fit: cover;
    object-position: 30% 0;
}

.verticalLine1 {
    width: 14px;
    height: 400px;
    position: relative;
    background-color: rgb(92, 0, 168);
    transform: skew(-15deg, 0deg) translateX(-44px);
    z-index: 9;
}

.verticalLine2 {
    width: 15px;
    height: 400px;
    position: relative;
    background-color: rgb(143, 39, 255);
    transform: skew(-15deg, 0deg) translateX(-68px);
    z-index: 9;
}

.verticalLine3 {
    width: 15px;
    height: 400px;
    position: relative;
    background-color: rgb(92, 0, 168);
    transform: skew(-15deg, 0deg) translateX(67px);
    z-index: 9;
}

.verticalLine4 {
    width: 15px;
    height: 400px;
    position: relative;
    background-color: rgb(143, 39, 255);
    transform: skew(-15deg, 0deg) translateX(42px);
    z-index: 9;
}

.transparentImagePart {
    background-color: rgb(35, 35, 35);
    height: 400px;
    width: 10px;
    position: relative;
    right: 286px;
    transform: skew(-15deg, 0deg) translateX(-150px) scaleX(14);
}

.transparentImagePart2 {
    background-color: white;
    height: 400px;
    width: 121px;
    position: relative;
    left: 202px;
    transform: skew(-15deg, 0deg) translateX(-150px) scaleX(1.1);
}
.transparentImagePartInfoBox2{
    background-color: rgb(35, 35, 35);
    height: 400px;
    width: 121px;
    position: relative;
    left: 375px;
    transform: skew(-15deg, 0deg) translateX(150px) scaleX(1.1);
}
.transparentImagePartInfoBox {
    background-color: white;
    height: 400px;
    width: 10px;
    position: relative;
    left: 3px;
    transform: skew(-15deg, 0deg) translateX(-150px) scaleX(14);
}

.giftText {
    height: 100%;
    width: 500px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-family: montserrat-regular;
    font-size: 40px;
    z-index: 10;
    color: white;
    display: flex;
}

#giftTEXT {
    position: relative;
    width: 100%;
    line-height: 1.35;
}

.mainLinksContainer{
    font-family: montserrat-light;
    font-size: 25px;
    color: rgb(83, 83, 83);
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
}
.mainLinksContainer a{
    color: rgb(83, 83, 83);
    text-decoration: none;
}

.mainLinksContainer a:hover{
    color:rgb(92, 0, 168);
}

#purpleText{
    color:rgb(92, 0, 168);
    font-weight: 600;
}

.linkDividers{
    transform: skew(-15deg, 0deg);
    margin-left: 10px;
    margin-right: 10px;
}

.infoBoxHider{
    width: 100%;
    height: 450px;
    background-color: white;
    position: absolute;
    top: 610px;
    z-index: 10;
    transform: skew(-15deg, 0deg);
}
.appearAnimation{
    animation: infoBox1AppearAnimation 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes infoBox1AppearAnimation{
    0%{
       margin-right: 0px;  
    }
    99%{
       margin-right: 185vw;
       z-index: 10;
    }
    100%{
        margin-right: 185vw;
        display: none;
        z-index: -10;
    }
}

.downArrow{
    width: 2px;
    height: 65px;
    background-color: rgb(83, 83, 83);
    margin-bottom: 25px;
    margin-top: 5px;
    
}
.downArrowColored{
    width: 2px;
    height: 20px;
    background-color: rgb(143, 39, 255);
    margin-bottom: 600px;
    position: absolute;
    animation: downArrowAnimation 1s infinite linear;
    box-shadow: 0px 0px 1px 0.5px rgb(143, 39, 255);
}

@keyframes downArrowAnimation {
    0%{
        margin-bottom: 625px;
    }
    100%{
        margin-bottom: 445px;
    }
}

.whiteBoxDownArrow{
    background-color: white;
    width: 10px;
    height: 25px;
    position: absolute;
    margin-bottom: 450px;
}
.whiteBoxDownArrowTop {
    background-color: white;
    width: 10px;
    height: 25px;
    position: absolute;
    margin-bottom: 625px;
    z-index: 5;
}