*{
    margin: 0px;
    padding: 0px;
}
.mainContentContainer{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 55px;
    flex-direction: column;
    align-items: center;
}
.mainContentTitle{
    width: 100%;
    font-size: 70px;
    font-weight: normal;
    font-family: montserrat-light;
    color: black;
    margin-top: 25px;
    margin-bottom: 25px;
}

.profilePicture{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    margin-top: 50px;
}

/* FONTS */
@font-face {
    font-family: montserrat-regular;
    src: url(./montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserrat-light;
    src: url(./montserrat/static/Montserrat-Light.ttf);
}
@font-face {
    font-family: montserrat-bold;
    src: url(./montserrat/static/Montserrat-Bold.ttf);
}

/* giftcard box */
.giftCardContainer {
    background-color: rgb(35, 35, 35);
    color: black;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 1200px;
    text-align: center;


}

.giftCardImage {
    width: 630px;
    height: 400px;
    object-fit: cover;
    object-position: 30% 0;
}
.infoBox2Image{
    width: 630px;
    height: 400px;
    object-fit: cover;
    object-position: 30% 0;
}

.verticalLine1 {
    width: 14px;
    height: 400px;
    position: relative;
    background-color: rgb(223, 0, 0);
    /* -webkit-transform: skew(-15deg, 0deg) translateX(-42px);
    -moz-transform: skew(-15deg, 0deg) translateX(-42px);
    -o-transform: skew(-15deg, 0deg) translateX(-42px);
    -ms-transform: skew(-15deg, 0deg) translateX(-42px); */
    transform: skew(-15deg, 0deg) translateX(-44px);
    z-index: 9;
}

.verticalLine2 {
    width: 15px;
    height: 400px;
    position: relative;
    background-color: rgb(255, 58, 58);
    /* -webkit-transform: skew(-15deg, 0deg) translateX(-55px);
    -moz-transform: skew(-15deg, 0deg) translateX(-55px);
    -o-transform: skew(-15deg, 0deg) translateX(-55px);
    -ms-transform: skew(-15deg, 0deg) translateX(-55px); */
    transform: skew(-15deg, 0deg) translateX(-68px);
    z-index: 9;
}

.verticalLine3 {
    width: 15px;
    height: 400px;
    position: relative;
    background-color: rgb(223, 0, 0);
    /* -webkit-transform: skew(-15deg, 0deg) translateX(-42px);
    -moz-transform: skew(-15deg, 0deg) translateX(-42px);
    -o-transform: skew(-15deg, 0deg) translateX(-42px);
    -ms-transform: skew(-15deg, 0deg) translateX(-42px); */
    transform: skew(-15deg, 0deg) translateX(67px);
    z-index: 9;
}

.verticalLine4 {
    width: 15px;
    height: 400px;
    position: relative;
    background-color: rgb(255, 58, 58);
    /* -webkit-transform: skew(-15deg, 0deg) translateX(-55px);
    -moz-transform: skew(-15deg, 0deg) translateX(-55px);
    -o-transform: skew(-15deg, 0deg) translateX(-55px);
    -ms-transform: skew(-15deg, 0deg) translateX(-55px); */
    transform: skew(-15deg, 0deg) translateX(42px);
    z-index: 9;
}

.transparentImagePart {
    background-color: rgb(35, 35, 35);
    height: 400px;
    width: 10px;
    position: relative;
    right: 286px;
    /* border: black 1px solid; */
    /* -webkit-transform: skew(-15deg, 0deg) translateX(-150px);
    -moz-transform: skew(-15deg, 0deg) translateX(-150px);
    -o-transform: skew(-15deg, 0deg) translateX(-150px);
    -ms-transform: skew(-15deg, 0deg) translateX(-150px); */
    transform: skew(-15deg, 0deg) translateX(-150px) scaleX(14);
}

.transparentImagePart2 {
    background-color: white;
    height: 400px;
    width: 121px;
    position: relative;
    left: 202px;
    /* border: black 1px solid; */
    /* -webkit-transform: skew(-15deg, 0deg) translateX(-150px);
    -moz-transform: skew(-15deg, 0deg) translateX(-150px);
    -o-transform: skew(-15deg, 0deg) translateX(-150px);
    -ms-transform: skew(-15deg, 0deg) translateX(-150px); */
    transform: skew(-15deg, 0deg) translateX(-150px) scaleX(1.1);
}
.transparentImagePartInfoBox2{
    background-color: rgb(35, 35, 35);
    height: 400px;
    width: 121px;
    position: relative;
    left: 202px;
    /* border: black 1px solid; */
    /* -webkit-transform: skew(-15deg, 0deg) translateX(-150px);
    -moz-transform: skew(-15deg, 0deg) translateX(-150px);
    -o-transform: skew(-15deg, 0deg) translateX(-150px);
    -ms-transform: skew(-15deg, 0deg) translateX(-150px); */
    transform: skew(-15deg, 0deg) translateX(150px) scaleX(1.1);
}

.giftText {
    height: 100%;
    width: 500px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-family: montserrat-regular;
    font-size: 40px;
    /* padding-left: 30px; */
    z-index: 10;
    color: white;
    display: flex;
}

#giftTEXT {
    position: relative;
    width: 100%;
    line-height: 1.35;
}

.mainLinksContainer{
    font-family: montserrat-light;
    font-size: 25px;
    color: rgb(83, 83, 83);
    padding-bottom: 25px;
}
.mainLinksContainer a{
    color: rgb(83, 83, 83);
    text-decoration: none;
}

#redText{
    color:rgb(255, 58, 58);
}
.infoBoxHider{
    width: 100%;
    height: 450px;
    background-color: white;
    position: absolute;
    top: 525px;
    z-index: 10;
    transform: skew(-15deg, 0deg);
}
.appearAnimation{
    animation: infoBox1AppearAnimation 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes infoBox1AppearAnimation{
    0%{
       margin-right: 0px;  
    }
    100%{
       margin-right: 185vw;
    }
}